.footer {
    margin-top: 4rem;
    opacity: .5;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.copyright {
    font-size: var(--size-base);
    padding-top: 1rem;
}

.copyright > a {
    text-decoration: overline;
}

@media (min-width: 768px) {
    .footer {
        margin-top: 2rem;
    }

    .copyright {
        font-size: var(--size-xl);
        padding-top: 1rem;
        padding-bottom: .5rem;
    }
}