.footer {
    margin-bottom: 1em;
    font-size: var(--size-xs);
    margin-top: 4rem;
    opacity: .5;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img {
    width: 4em;
    height: 4em;
    align-content: center;
}

.copyright {
    font-size: 1rem;
    padding-top: 1rem;
}

.copyright > a {
    text-decoration: overline;
}