.shop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.title {
    font-size: var(--size-2xl);
    color: var(--color-ligh);
    text-transform: capitalize;
    color: var(--color-light);
}

.wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.imgContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* xs */
@media (min-width: 475px) {
    .shop {
        gap: 1.5rem;
    }
    
    .title {
        font-size: var(--size-3xl);
    }   

    .imgContainer {
        margin-top: 1.5rem;
        flex-direction: row;
    }
}



/* lg */
@media (min-width: 1024px) {
    .title {
        font-size: var(--size-4xl);
    }
}

/* xl */
@media (min-width: 1280px) {
    .shop {
        gap: 2rem;
    }
    
    .title {
        font-size: var(--size-5xl);
    }   

    .imgContainer {
        margin-top: 2rem;
        gap: 2rem;
    }
}
