.title {
    font-size: var(--size-2xl);
    color: var(--color-light);
    text-transform: capitalize;
}

.subtitle {
    font-size: var(--size-sm);
    color: var(--color-secondary);
    text-transform: capitalize;
    font-weight: 400;
}

.productSlidesContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.productSlide {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    gap: .5rem;
}

.btn {
    align-self: flex-end;
    padding: 0.5em 1em;
    transform: skewX(-15deg);
    font-weight: 600;
    text-transform: capitalize;
    font-size: var(--size-base);
    text-decoration: none;
    letter-spacing: -0.05em;
    color: var(--color-light);
    background-image: linear-gradient(to right, 
    var(--color-dark),
    var(--color-primary));
    border-radius: .2em;
}


@media (min-width: 475px) {    
    .title {
        font-size: var(--size-3xl);
    }   

    .subtitle {
        font-size: var(--size-base);
    }
}

@media (min-width: 768px) {
    .productSlidesContainer {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: .5rem;
    }

    .btn {
        align-self: stretch;
        font-size: var(--size-xl);
        background-image: linear-gradient(to right, 
        var(--color-dark), 
        var(--color-dark), 
        var(--color-primary));
    }
}


/* lg */
@media (min-width: 1024px) {
    .title {
        font-size: var(--size-4xl);
    }

    .subtitle {
        font-size: var(--size-lg);
    }  
}

/* xl */
@media (min-width: 1280px) {    
    .title {
        font-size: var(--size-5xl);
    }  

    .subtitle {
        font-size: var(--size-xl);
    }

    .productSlidesContainer {
        margin: 2rem;
        gap: 1rem;
    }
}
