.labelWrapper {
    position: sticky;
    top: 80%;
    z-index: 10;    
    transform: rotate(-15deg);
    width: 2.5rem;
    margin-top: 1rem;
    margin-left: -.4rem;
    border-radius: 4px;
    background-color: var(--color-light);
}

.label {
    display: flex;
    justify-content: flex-end;
}

.img {
    width: 2rem;
    height: 2rem;    
}



@media (min-width: 768px) {
    .labelWrapper {
        width: 3.5rem;
    }

    .img {
        width: 3rem;
        height: 3rem;
    }
}